<div class="container">
    <div class="navbar-top">
        <h1 class="text-center">User Detail Project</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="userinput col-12">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" [(ngModel)]="userName" class="form-control" placeholder="user Name">
                </div>
                <div class="col-md-2">
                    <input type="number" [(ngModel)]="userAge" class="form-control" placeholder="user Age eg.16">
                </div>
                <div class="col-md-3">
                    <input type="text" [(ngModel)]="userAddress" class="form-control" placeholder="user address">
                </div>
                <div class="col-md-2 ">
                    <button type="button" class="btn btn-primary col-sm-12" [disabled]=" !userName||!userAge||!userAddress" (click)='createUser()'>Add User</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger logout col-sm-12" (click)="logOut()">Logout</button>
                </div>

            </div>
        </div>

    </div>


    <div class="user-detail">
        <div class="row">
            <div class="col-md-3 card card-top " *ngFor="let user of users">
                <div class="card-body UserData" *ngIf="!user.isEdit ; else isEditDiv">
                    <h5> Name: {{user.Name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Age: {{user.Age}} Years</h6>
                    <p class="card-text">Address: {{user.Address}}</p>
                    <button href="#" class="btn btn-primary" (click)='editUser(user)'>Edit</button>
                    <button type="button" (click)="removeUser(user.id)" class="btn btn-danger deleteuser">Delete</button>
                </div>
                <ng-template #isEditDiv>
                    <div class="card-body">
                        <h5 class="card-title">Edit</h5>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" [(ngModel)]="user.EditName" placeholder="Edit Name">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" [(ngModel)]="user.EditAge" placeholder="Edit Age">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" [(ngModel)]="user.EditAddress" placeholder="Edit Address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" style="color:white" (click)="user.isEdit = false" class="btn btn-warning canceluser">Cancel</button>
                    <button type="button" (click)="updateUser(user)" class="btn btn-secondary updateuser">Update</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>